<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
	  <assemblyBinding>
		  ing="" xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			  <assemblyIdentity name="RhinoCommon" publicKeyToken="552281e97c755530" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-7.31.23166.15001" newVersion="7.31.23166.15001" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Grasshopper" publicKeyToken="dda4f5ec2cd80803" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-7.31.23166.15001" newVersion="7.31.23166.15001" />
		  </dependentAssembly>
	  </assemblyBinding>
  </runtime>
</configuration>